@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Light theme class names */

.text-light{
  color: #0a0a0a;
}

.desc-light{
  color: #444;
}

.primary{
  background-color: #F43F5E;
}


/* Dark theme class name */

.text-dark{
  color: #fff;
}
.desc-dark{
  color: #ccc;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 384px; /* Matches the h-96 class in Tailwind */
}

/* globals.css or animations.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out forwards; /* Adjust duration and easing as needed */
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Starts 20px below its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Ends at its original position */
  }
}

.animate-fade-in-slide-up {
  animation: fadeInSlideUp 2s ease-out forwards;
}